@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Vazirmatn', sans-serif;
        direction: rtl;
        text-align: right;
    }
}

/* رفع مشکل فونت برای اعداد در اینپوت‌ها (اختیاری) */
input, select, textarea {
    font-family: 'Vazirmatn', sans-serif !important;
}
